body{
    background: linear-gradient(to right, #159957, #155799);
    
}

#mainContainer{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    border-radius: 10px;
    text-align: center;
    background: transparent;
    width: 90%;
    top: 8%;
    margin-bottom: 3%; 
    height: inherit;
    left: 5%;
}


.inline{
    display: inline-block;
}


.title{
    color: transparent;
    background: #ffffff;;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Pacifico';
    font-weight: 100;
    padding-top: 1%;
    font-size: 5vh;
}

#toSection{
    margin-top: 2%;
}

.currencyInputs{
    position: relative;
    height: 70px;
    width: 70%;
    padding-left:10px;
    margin-bottom: 10px;

    border: none;
    margin-left: 10%;
    color: #424242;   
    font-size: 3vh;
}

.sections{
    position: relative;
    width: 80%;
    height: inherit;
    background: #ffffff;
    border: solid #ffffff 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    text-align: initial;
}

.currencySelecters{
    position: relative;
    margin-right: 7%;
    height: 40px;
    margin-bottom: 1%;
    width: 85px;
    margin-left: 2%;
    border-radius: 5px;
    background:#159957;
    color: #ffffff;  
    font-size: 3vh;
}

#resultText{
    position: relative;
    height: 50px;
    width: 70%;
    padding-left:10px;
    border: none;
    margin-left: 10%;
    color: #707070;   
    font-size: 3vh;
}

#convertButton{
    border: none;
    margin-top: 2%;
    border-radius: 5px;
    position: relative;
    background: #ffffff;
    color: #159957;
    font-weight: bold;
    height: 60px;
    width: 250px;
    font-size: 100%;
    margin-bottom: 1%;
    cursor: pointer;
}

.boxTitle{
    color: #159957;
    margin-left: 3%;
    display: inline-block;
}